.HeroBlock{
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    background-color: var(--grey15);
    .TextForMobiles{
        display: none;
    }
    h1{
        font-size: 48px;
        margin: 112px 0px 0px 0px;
        @media (max-width: 768px)  {
            font-size: 34px;
        }
    }
    

    @media (max-width: 768px)  {
            .TextForMobiles{
                display: block;
                font-size: 16px;
                color:var(--grey60);
                padding: 18px 20px;
    }
        }
}
