<div class="HeroBlock">
    <h1>@@BigText</h1>
    <div class="MiniBlock">
        <div class="MiniBlockItems"><p>for</p>
        @@include('./_dopbutton.html',{
        "text": "Startups"
        })
        <p>,</p>
        
        @@include('./_dopbutton.html',{
        "text": "Enterprise leaders"
        })
        <p>,</p>
        @@include('./_dopbutton.html',{
        "text": "Media & Publishers"
        })
        <p>and</p>
        
        @@include('./_dopbutton.html',{
        "text": "Social Good"
        })</div>
        <div class="TextForMobiles"><h2>For startups, enterprise leaders, media & publishers, and social good.</h2></div>
    </div>
    <div class="TwoButtons">
        @@include('./_dopbutton.html',{
        "text": "Our Works  "
        })
        @@include('./_button.html',{
        "text": "Contact Us"
        })
    </div>
</div>