<div class="SixBlocks">
    @@include('./_one_of_six_blocks.html',{
        "Text": "SquareUp has been Instrumental in Transforming our Online Presence. ",
        "PText": "Their team's expertise in web development and design resulted in a visually stunning and user-friendly e-commerce platform. Our online sales have skyrocketed, and we couldn't be happier.",
        'ic': "./assets/images/icon2",
        "TextForAv": "John Smith",
        "PtextForAv": "CEO of Chic Boutique",
        })


        @@include('./_one_of_six_blocks.html',{
        "Text": "Working with SquareUp was a breeze. ",
        "PText": "They understood our vision for a mobile app that streamlined our food delivery service. The app they delivered exceeded our expectations, and our customers love the seamless ordering experience. SquareUp is a trusted partner we highly recommend.",
        'ic': "./assets/images/icon2",
        "TextForAv": "Sarah Johnson",
        "PtextForAv": "Founder of HungryBites.",
        })

        <!-- @@include('./_one_of_six_blocks.html',{
        "Text": "SquareUp has been Instrumental in Transforming our Online Presence. ",
        "PText": "Their team's expertise in web development and design resulted in a visually stunning and user-friendly e-commerce platform. Our online sales have skyrocketed, and we couldn't be happier.",
        'ic': "./assets/images/icon2",
        "TextForAv": "John Smith",
        "PtextForAv": "CEO of Chic Boutique",
        })
        @@include('./_one_of_six_blocks.html',{
        "Text": "SquareUp has been Instrumental in Transforming our Online Presence. ",
        "PText": "Their team's expertise in web development and design resulted in a visually stunning and user-friendly e-commerce platform. Our online sales have skyrocketed, and we couldn't be happier.",
        'ic': "./assets/images/icon2",
        "TextForAv": "John Smith",
        "PtextForAv": "CEO of Chic Boutique",
        })
        @@include('./_one_of_six_blocks.html',{
        "Text": "SquareUp has been Instrumental in Transforming our Online Presence. ",
        "PText": "Their team's expertise in web development and design resulted in a visually stunning and user-friendly e-commerce platform. Our online sales have skyrocketed, and we couldn't be happier.",
        'ic': "./assets/images/icon2",
        "TextForAv": "John Smith",
        "PtextForAv": "CEO of Chic Boutique",
        })
        @@include('./_one_of_six_blocks.html',{
        "Text": "SquareUp has been Instrumental in Transforming our Online Presence. ",
        "PText": "Their team's expertise in web development and design resulted in a visually stunning and user-friendly e-commerce platform. Our online sales have skyrocketed, and we couldn't be happier.",
        'ic': "./assets/images/icon2",
        "TextForAv": "John Smith",
        "PtextForAv": "CEO of Chic Boutique",
        })
        @@include('./_one_of_six_blocks.html',{
        "Text": "SquareUp has been Instrumental in Transforming our Online Presence. ",
        "PText": "Their team's expertise in web development and design resulted in a visually stunning and user-friendly e-commerce platform. Our online sales have skyrocketed, and we couldn't be happier.",
        'ic': "./assets/images/icon2",
        "TextForAv": "John Smith",
        "PtextForAv": "CEO of Chic Boutique",
        }) -->
        
</div>